<!doctype html>
<html lang="en">

<head>
  <title>Flask Leaflet Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://github.com/alowery6/Riverside_Leaflet/tree/eef2b51b9b7844e7ce3acbd90a7ddcd1c55a4997/Flask-Leaflet/static/css/universal.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
</head>

<body>
  <div id="map"></div>
  <script src="https://github.com/alowery6/Riverside_Leaflet/tree/eef2b51b9b7844e7ce3acbd90a7ddcd1c55a4997/Flask-Leaflet/static/js/universal.js" /></script>
  <script>

{% for marker in markers %}
      L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
      .bindPopup("{{ marker['popup'] }}")
      .openPopup();
    {% endfor %}

  </script>
</body>

</html>